<div class="Setpoints">
  <div style="margin-left:40px;">
    <mat-form-field class="set-point">
      <input matInput placeholder="theta: [&theta;]" name="set_angle" type="number" #set_angle>
    </mat-form-field>
    <mat-form-field class="set-point">
      <input matInput placeholder="position: [m]" name="set_x" type="number" #set_x>
    </mat-form-field>
    <mat-form-field class="set-point">
      <input matInput placeholder="velocity: [m/s]" name="set_x_dot" type="number" #set_x_dot>
    </mat-form-field>
  </div>
  <button mat-button (click)="sendSetpoint(set_angle,set_x,set_x_dot)" color="primary"
    style="background-color:rgba(105, 213, 221, 0.30);margin-left:75px;border-radius:10px;height:40px;">ENVIAR</button>
  <mat-toolbar color="primary" style="height:30px;margin-top:10px">
    <p style="margin-left:80px;font-size:20px;margin-top:20px;border-radius:20px">Estado</p>
  </mat-toolbar>
</div>
