.params-form {
  margin-left: 0px;
}

.sim-item {
  width: 180px;
  height: 5px;
  margin-left: 30px;
  margin-top: 20px;
}

.sendBtn {
  /* background-color: rgba(105, 213, 221, 0.30); */
  margin-top: 15%;
  border-radius: 10px;
  margin-left: 22px;
  height: 40px;
}

.defaultBtn {
  /* background-color: rgba(105, 213, 221, 0.30); */
  margin-top: 15%;
  margin-left: 10px;
  border-radius: 10px;
  height: 40px;
}
