.params-form {
  margin-left: 10px;
}

.sim-item {
  width: 180px;
  height: 5px;
  margin-left: 30px;
  margin-top: 20px;
}

.sendBtn {
  background-color: rgba(105, 213, 221, 0.30);
  margin-top: 25px;
  border-radius: 10px;
  margin-left: 38px;
  height: 40px;
}

.defaultBtn {
  background-color: rgba(105, 213, 221, 0.30);
  margin-top: 25px;
  margin-left: 10px;
  border-radius: 10px;
  height: 40px;
}
